.senddata{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: black;
    background-color: rgb(167, 139, 70);
    
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}
.selectgender{
    align-self: flex-start;
    margin-left: 12px;
    
}
.male{
    width: 15px;
    height: 15px;
    margin-top: 10px;
    margin-left: 24px;
}
p{
    font-size: 2px;
}
.name{
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 30px;
}
.email{
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 30px;
}
#form{
   align-content: space-between;
}
.phonenumber{
   margin-left: 10px;
   margin-right: 10px;
   width: 250px;
   height: 30px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 88, 136);
    border: 2px solid black;
    
}